<div>
  <ul>
    {% for page in pages | selectByField('blogPost') | sort(true, false, 'fields.date') %}
      <li>
        <date>{{ page.fields.date }}</date> —
        <a href="{{ page.fields.url }}">
          {{ page.fields.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
