<div>
  <ul>
    {% for page in pages | sort(true, false, 'fields.date') %}
      {% if page.fields.blogPost %}
        <li>
          <date>{{ page.fields.date }}</date> —
          <a href="{{ page.fields.url }}">
            {{ page.fields.title }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
