<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    {% if title %}
      <title>{{ title }} — My app </title>
    {% else %}
      <title>My app</title>
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/styles.css" />
    <script defer type="module" src="/js/main.js"></script>

    {% block extraHead %}{% endblock %}
  </head>
  <body>
    <div id="content">
      <header>
        <nav>
          <a href="/" class="{{ 'active' if pageKey == 'home' }}">
            Home
          </a>
          <a href="/blog" class="{{ 'active' if blogPost or pageKey == 'blog' }}">
            Blog
          </a>
          <a href="/test" class="{{ 'active' if pageKey == 'test' }}">
            Test
          </a>
          <a href="/debug" class="{{ 'active' if pageKey == 'debug' }}">
            Debug
          </a>
        </nav>
      </header>
      <main id="main">
        {% block content %}
          {# Page content goes here. #}
        {% endblock %}
      </main>
    </div>
  </body>
</html>
